<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBA Proyecto Urbanistico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos_ubicacion.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap" rel="stylesheet">
<body>
    <header>
        <h1 class="text-center text-primary p-2 ">EBA</h1>
        <h2 class="text-center text-success p-1 ">Estacion Buenos Aires</h2>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
                <img src="https://i.postimg.cc/bwgvghGf/Ciudad-Procrear-49.jpg" alt="">
            </div>
            <div class="col d-block">
                <p class="text-justify mx-auto">El predio se encuentra delimitado por la Av. Vélez Sarsfield, el estadio de Huracán, la calle Zavaleta y la villa 21-24.</p>
                <p class="text-justify mx-auto">Esos terrenos ubicados a sólo 15 minutos del Obelisco pertenecían a la Compañía General de Ferrocarriles en la Provincia de Buenos Aires. En 1961, se construyó un enlace con el Ferrocarril Midland de Buenos Aires, lo que permitió agregar servicios y vinculación con otras ciudades. Pero en agosto de 1977 se clausuró dejando el predio librado prácticamente al abandono, con un fuerte impacto para el entorno por la aparición de una villa lindera y unas 80 familias que se apropiaron de esos terrenos junto a una gran cantidad de negocios comerciales y empresas que funcionaban de manera ilegal.</p>
                <p class="text-justify mx-auto">Son 56 edificios, todos con terrazas verdes. En total son 2396 departamentos de entre 30 y 90 m2 cubiertos.</p>
                <br>
                <img class="img-fluid" src="https://vivienda.buenosaires.gob.ar/estaciones/files/img01.png" alt="" width="600px 900px">
            </div>

        </div>    

    </main>
 
    




     <!-- scrips -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>